:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75%;
}

.bar-icon {
  color: white;
}

.button {
  cursor: pointer;
  &:hover {
    background: rgba(255, 255, 255, 0.25);
  }
}
