<app-player-bar
  [track]="track()"
  [trackLoading]="trackLoading()"
  [trackPlaying]="trackPlaying() || false"
  [trackPosition]="trackPosition() || 0"
  [trackPositionFormatted]="trackPositionFormatted()"
  [trackLength]="trackLength() || 0"
  [trackLengthFormatted]="trackLengthFormatted()"
  [trackError]="trackError() || null"
  [looping]="looping()"
  [shuffle]="shuffle()"
  (startPlaying)="play()"
  (pausePlaying)="pause()"
  (seek)="seek($event)"
  (shuffleChange)="changeShuffle($event)"
  (loopingChange)="changeLooping($event)"
/>
