<div class="app">
  <div class="top base-padding">Top menu</div>
  <div class="center base-padding">
    <app-container class="sidebar">
      <app-side-panel></app-side-panel>
    </app-container>
    <div class="main-wrapper">
      <app-container class="main base-padding">
        <app-button (click)="sendSetup()" color="primary">Setup</app-button>
        <app-button (click)="sendPlay()" color="secondary">Play</app-button>
        <app-button (click)="sendPause()" color="primary">Play rain</app-button>
        <br />
        <app-button (click)="getPlaylists()" color="secondary"
          >Get playlists</app-button
        >
        <router-outlet></router-outlet>
      </app-container>
      <div class="bottom base-padding">Player</div>
    </div>
  </div>
</div>
